In [1]:
 # At the time of this, pandas supports the following data sources:
# Google Finance (google)
# St. Louis FED (fred)
# Kenneth French's data library (famafrench)
# World Bank (via pandas.io.wb)
import pandas.io.data as web
import numpy as np
# Notice
%matplotlib inline

/home/atqs/anaconda2/lib/python2.7/site-packages/pandas/io/data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)
/home/atqs/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
DAX = web.DataReader(name='^GDAXI', data_source='yahoo', start='2000-1-1')

In [ ]:
DAX.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4348 entries, 2000-01-03 to 2017-01-24
Data columns (total 6 columns):
Open         4348 non-null float64
High         4348 non-null float64
Low          4348 non-null float64
Close        4348 non-null float64
Volume       4348 non-null int64
Adj Close    4348 non-null float64
dtypes: float64(5), int64(1)
memory usage: 237.8 KB

In [ ]:
DAX.tail()

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2017-01-18,11592.120117,11599.389648,11529.759766,11599.389648,79838900,11599.389648
2017-01-19,11624.110352,11644.879883,11578.910156,11596.889648,89132300,11596.889648
2017-01-20,11568.900391,11636.790039,11547.040039,11630.129883,0,11630.129883
2017-01-23,11545.969727,11605.290039,11508.830078,11545.750000,77901600,11545.750000
2017-01-24,11554.799805,11596.179688,11538.049805,11594.940430,79231000,11594.940430

In [ ]:
DAX['Close'].plot(figsize=(8,5))

In [ ]:
%%time
DAX['Ret_Loop'] = 0.0
for i in range(1, len(DAX)):
    DAX['Ret_Loop'][i] = np.log(DAX['Close'][i]/DAX['Close'][i-1])

In [ ]:
DAX['Ret_Loop']

In [ ]:
%time DAX['Return'] = np.log(DAX['Close']/DAX['Close'].shift(1))

In [ ]:
DAX[['Close','Ret_Loop','Return']].tail()